[submodule "PythonicList"]
	path = PythonicList
	url = https://github.com/mohit-rathee/PythonicList
[submodule "config-corne"]
	path = config-corne
	url = https://github.com/mohit-rathee/config-corne
