web-chat
build

# React and Next projects
node_modules
package-lock.json
package.json

#Rust projects
target/

#python
venv
__pycache__
migrations

#projects
Figleo_Backend
NocGeneratorUiet
PlaygroundJS

