[submodule "PythonicList"]
	path = PythonicList
	url = https://github.com/mohit-rathee/PythonicList
[submodule "config-corne"]
	path = config-corne
	url = https://github.com/mohit-rathee/config-corne
[submodule "dsa"]
	path = dsa
	url = https://github.com/mohit-rathee/dsa
[submodule "quick_quiz_AI"]
	path = quick_quiz_AI
	url = https://github.com/mohit-rathee/quick_quiz_AI
